@import '../variables/variables';
.hero__nav{
  font-family: $roboto;
  h1{
    font-size: 25px;
    letter-spacing: 2px;
  }
  a{
    color: $white;
  }
  display: flex;
  align-items: center;
  padding: 36px 0;
  
  ul{
    margin-left: auto;
    li{
      display: inline;
      font-weight: 100;
      font-size: 13px;
      a{
        text-transform: uppercase;
        margin: 20px;
        padding-bottom: 42px;
        &:hover{
          border-bottom: 1px solid $white;
        }
      }
    }
  }
}