@import '../variables/variables';
.hero__nav{
  font-family: $roboto;
  h1{
    font-size: 25px;
    letter-spacing: 2px;
  }
  a{
    color: $white;
  }
  display: flex;
  align-items: center;
  padding: 36px 0;
  
  ul{
    margin-left: auto;
    li{
      display: inline;
      font-weight: 100;
      font-size: 13px;
      a{
        text-transform: uppercase;
        margin: 20px;
        padding-bottom: 41px;
        &:hover{
          border-bottom: 1px solid $white;
        }
      }
    }
  }

  .menu__container{
    padding: 10px;
    background-color: rgba($color: #fff, $alpha: 0.1);
    cursor: pointer;
    display: none;
    .fa-bars{
      color: $white;
    }
  }
}

@media(max-width: 720px){
  .hero__nav{
    padding: 15px;
    ul{
      display: none;
    }
    .menu__container{
      display: inline;
      margin-left: auto;
    }
  }
}