@import '../variables/variables';

.region{
  margin-top: 150px;
  position: relative;
}

.region__backtext{
  position: absolute;
  top: -140px;
  left: -40px;
  color: $lightGray;
  font-size: 15rem;
  z-index: 0;
}

.section__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  .region__heading{
    z-index: 10;
    font-family: $roboto;
  }
  .region__link{
    color: $lightBlue;
    z-index: 10;
  }
}

.region__cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.region__cards-card{
  position: relative;
  width: 230px;
  border-radius: 5px;
  margin-top: 10px;

  img{
    width: 100%;
    border-radius: 5px;
  }

  .region__cards-description{
    position: absolute;
    top: 80%;
    left: 37%;
    font-family: $roboto;
    color: $white;
    font-weight: 700;
  }
}