@import '../variables/variables';

.wanna{
  margin-top: 150px;
}

.wanna__card{
  display: flex;
  position: relative;
}

.wanna__card:last-child{
  // display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

  .card__description{
    margin-left: 75px;
  }
}

.card__description{
  margin-top: 20px;
  p{
    margin: 10px 0;
  }

  .card__description-tag{
    color: $lightBlue;
    font-family: $roboto;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .card__description-heading{
    font-family: $roboto;
    font-weight: 700;
  }

  .card__description-text{
    margin-bottom: 30px;
    color: $textLightGray;
    font-weight: 500;
    padding-right: 75px;
  }
}

.card__image{
  height: 330px;

  img{
    height: 100%;
    border-radius: 5px;
  }
}

@media(max-width: 1150px){
  .wanna__card{
    flex-direction: column-reverse;
    align-items: center;
  }

  .card__image{
    margin-top: 20px;
  }

  .wanna__card:last-child{
    flex-direction: column-reverse;
    .card__description{
      margin-left: 0;
    }
  }
}

@media(max-width: 850px){
  .wanna{
    margin-top: 50px;
  }
}

@media(max-width: 650px){
 .card__image{
   height: 250px;
 }

 .card__description{
   .card__description-text{
     text-align: justify;
     padding-right: 0px;
   }
 }
}