* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .container {
    width: 90%;
  }
}

.hero__header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.hero {
  height: 86vh;
  background: url("/assets/Glenocoe, United kingdom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 10;
}

.hero__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25vh;
}

.hero__description .hero__title {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
}

.hero__description .hero__subtitle {
  color: #FFFFFF;
  font-weight: 100;
  font-size: 2rem;
  margin-top: 5px;
}

.hero__description .hero__buttons {
  margin-top: 60px;
}

.hero__description .blue {
  background-color: #06BCD4;
  color: #FFFFFF;
}

.hero__description .white {
  background-color: #FFFFFF;
  color: #06BCD4;
}

.hero__description .hero__cta {
  padding: 10px 40px;
  border-radius: 25px;
  margin: 15px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.hero__nav {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 0;
}

.hero__nav h1 {
  font-size: 25px;
  letter-spacing: 2px;
}

.hero__nav a {
  color: #FFFFFF;
}

.hero__nav ul {
  margin-left: auto;
}

.hero__nav ul li {
  display: inline;
  font-weight: 100;
  font-size: 13px;
}

.hero__nav ul li a {
  text-transform: uppercase;
  margin: 20px;
  padding-bottom: 42px;
}

.hero__nav ul li a:hover {
  border-bottom: 1px solid #FFFFFF;
}

.options {
  background-color: #FFFFFF;
  width: 860px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -45px;
  padding: 20px 35px;
  z-index: 20;
  -webkit-box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1);
}

.option__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.option__description {
  margin-left: 20px;
}

.option__description .option__description--heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.option__description .option__description--content {
  color: #8AA0AC;
}

.fa-globe-europe,
.fa-hand-pointer,
.fa-plane {
  color: #06BCD4;
}

.region {
  margin-top: 150px;
  position: relative;
}

.region__backtext {
  position: absolute;
  top: -140px;
  left: -40px;
  color: #F6F6F6;
  font-size: 15rem;
  z-index: 0;
}

.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.section__header .region__heading {
  z-index: 10;
  font-family: "Roboto", sans-serif;
}

.section__header .region__link {
  color: #06BCD4;
  z-index: 10;
}

.region__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.region__cards-card {
  position: relative;
  width: 230px;
  border-radius: 5px;
  margin-top: 10px;
}

.region__cards-card img {
  width: 100%;
  border-radius: 5px;
}

.region__cards-card .region__cards-description {
  position: absolute;
  top: 80%;
  left: 37%;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
}

.been {
  margin-top: 150px;
  position: relative;
}

.been__backtext {
  position: absolute;
  color: #F6F6F6;
  font-size: 15rem;
  z-index: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: -295px;
  top: 150px;
}

.section__heading {
  z-index: 10;
  font-family: "Roboto", sans-serif;
  z-index: 1;
}

.section__link {
  color: #06BCD4;
  z-index: 10;
  z-index: 1;
}

.been__cards {
  position: relative;
  display: -ms-grid;
  display: grid;
  z-index: 1;
      grid-template-areas: 'box-1 box-2' 'box-3 box-4';
  gap: 15px;
}

.been__card {
  display: -ms-grid;
  display: grid;
  z-index: 1;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-radius: 5px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}

.been__card .box-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box-1;
}

.been__card .box-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: box-2;
}

.been__card .box-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: box-3;
}

.been__card .box-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: box-4;
}

.been__card .been__card-container {
  width: 200px;
}

.been__card .been__card-container img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: -4px;
}

.been__card .been__card-description {
  margin-top: 20px;
  margin-left: -20px;
  padding: 10px;
}

.been__card .been__card-description h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.been__card .been__card-description p {
  margin: 15px 0;
  color: #8AA0AC;
}

.been__card .been__card-description .been__card-location {
  font-size: 13px;
  color: #8AA0AC;
}

.been__card .been__card-description .been__card-link {
  color: #06BCD4;
}

.been__card .been__card-description-author {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.been__card .been__card-description-author p {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-left: 10px;
}

.been__card .been__card-description-author .author__container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.been__card .been__card-description-author .author__container img {
  width: 100%;
}

.wanna {
  margin-top: 150px;
}

.wanna__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.wanna__card:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.wanna__card:last-child .card__description {
  margin-left: 75px;
}

.card__description {
  margin-top: 20px;
}

.card__description p {
  margin: 10px 0;
}

.card__description .card__description-tag {
  color: #06BCD4;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.card__description .card__description-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.card__description .card__description-text {
  margin-bottom: 30px;
  color: #8AA0AC;
  font-weight: 500;
  padding-right: 75px;
}

.card__image {
  height: 330px;
}

.card__image img {
  height: 100%;
  border-radius: 5px;
}

.application {
  margin-top: 90px;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 50px;
}

.application__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.application__backtext {
  color: #F6F6F6;
  font-size: 15rem;
  position: absolute;
  z-index: 0;
  left: 300px;
  top: -30px;
}

.application__description {
  width: 300px;
  margin-right: 20px;
  z-index: 10;
}

.application__description h3 {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.application__description p {
  margin-bottom: 40px;
}

.application__image {
  z-index: 10;
  height: 400px;
  padding-top: 10px;
  -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.application__image img {
  height: 100%;
  border-radius: 25px;
}

footer {
  background-color: #484848;
  color: #FFFFFF;
  padding-top: 100px;
}

footer a {
  color: #ABABAB;
  margin: 10px 0;
}

footer h1, footer h6 {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

footer h6 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__main {
  width: 600px;
  padding-right: 100px;
}

.footer__main p {
  margin-top: 10px;
  color: #ABABAB;
}

.footer__secondary {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__secondary-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__secondary-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__secondary-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 50px 0;
}

.footer__copyright a {
  padding-left: 20px;
}

@media (max-width: 880px) {
  .footer__main {
    width: 400px;
    padding-right: 20px;
  }
}

@media (max-width: 740px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__main {
    width: 100%;
  }
  .footer__secondary {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=styles.css.map */